$white: #ffffff;
$isabelline: #eeeded;
$spanish-gray: #989797;

$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

$flame: #e4572e;
$light-red: #e87554;
$pastel-pink: #f2b2a0;

$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-grey: #bddfc7;

$blue-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;

$black: #000000;
$outer-space: #454545;
$quicksilver: #a2a2a2;

$roboto-font: "Roboto", sans-serif;
$mono-font: "PT Mono", sans-serif;

$font16: 16px;
$font18: 18px;
$font30: 30px;
$font40: 40px;
$font70: 70px;

$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;

$font-thin: 200;
$font-medium: 500;
$font-bold: 700;
